root {
	--Dgreen: #3a8032;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{    
    background-color: #1a6032;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centrer {
    text-align: center;
    max-width: 300px;
}

.centrer img
{
    width: 60%;
    height:auto;
}

.centrer h1
{
    color: #3a8032;
}

.box
{
    background-color: rgb(176, 169, 169);
    border-radius: 10px;
    padding: 80px 100px;
}

label
{
    color:#3a8032;
}

.button
{
    border-radius: 10px;
    background-color: #3a8032;
    color: white;
    margin: 10px;
    padding: 5px;
}

#toggle 
{
	color: var(--Dgreen);
	text-decoration: underline;
}
